<!DOCTYPE HTML>
<html>
    <% include partials/head.ejs %>
    <body>
        <% include partials/header.ejs %>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/">Order</a></li>
                <li><a href="/ordersList">Orders List</a></li>
            </ul>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped table-bordered
                    table-hover table-condensed" id="orders">
                    
                    </table>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
        <script src="javascripts/order.js"></script>
    </body>
</html>